
#fascetta-navbar {
    background: color #4971ff;
    color: #fff;
    
}

.celeste {
    background-color: #4971ff;
    color:white;
}
#fascetta a{
    color: white;
    text-decoration:none;
}
#fascetta a:hover{
    color: #833471;
}
#navbar-bianca {
    height: 91px;
}
#navbar-bianca a {
    color: #4971ff;
    text-decoration: none;
    font-size: 1.2rem;
}
#navbar-bianca a:hover {
    color: #833471;
}

#carousel {
    height: 367px;
    color:#646446;
}
.elemento-carousel {
    height: 300px;
    color: #646464;
}

#card {
    min-height: 367px;
}

#testo {
    min-height: 367px;
}
